* {
    box-sizing: border-box;
}

@mixin flexCenters {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

$fontClamp01: clamp(0.001rem, 1vw, 2vw);
$fontClamp02: clamp(0.001rem, 1vw, 2vw);
$gucciyellow: rgba(189, 147, 2, 1);
$guccigreen: rgba(10, 106, 86, 1);
$guccired: rgba(168, 43, 17, 1);
$guccired01: rgba(168, 43, 17, 0.2);

.signupDiv {
    display: grid;
    justify-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 40vh;
    min-width: 200px;
    max-width: 80vw;
    margin: auto;
    border: solid;
    border-radius: 6px;
    background-image: linear-gradient(-80deg, rgba(255, 255, 255, 0.827), rgba(245, 222, 179, 0.866));
    h6{
        text-align: left;
        font-weight: bold;
        width: 85%;
        margin: 2%;
    }

    .signupForm {
        display: grid;
        justify-items: center;
        align-items: center;

        label {
            font-size: 1rem;
        }

        input {
            font-size: 1rem;
        }

        .submit-btn {
            margin-top: 14%;
        }


    }

    .forgot-pass {
        font-size: 0.6rem;
        text-decoration: none;
        color: rgba(141, 62, 62, 0.989);
    }
}