// @import "~bootstrap/scss/bootstrap";
@mixin flexCenters {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexSpaceAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
$fontClamp01:clamp(0.001rem, 1vw, 2vw);
$fontClamp02: clamp(0.001rem, 1vw, 2vw);
$gucciyellow: rgba(189, 147, 2, 1);
$guccigreen: rgba(10, 106, 86, 1);
$guccired: rgba(168, 43, 17, 1);
$guccired01: rgba(168, 43, 17, 0.2);

.home-title{
    // border-radius: 50%;
    //text-align: center;
    margin-top: 0.4%;
    a{
        img{
            width: 2.5vw;
            height: 2.5vw;
            transition: 1500ms;
            transform: translateX(20%);
            &:hover {
                    text-decoration: underline;
                    transform: rotate(-90deg);
                    transition: 600ms;
                }
        }
        //display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        color: wheat;
        font-family: Georgia, 'Times New Roman', Times, serif;
        //background-color: $guccired01;
        //padding: 1.2% 0% 1.2% 0%;
        //width: 2vw;
        //border-radius: 50%;
        //font-size: $fontClamp01;
    }
}

.small-nav{
    @include flexStart();
     background-color: rgba(0, 50, 110, 0.3);

    li{
        @include flexCenters();
        font-size: clamp(0.2rem, 1vw, 2.2vw);
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 01%;
        transition: 500ms;
        &:hover{
            background-color: lightblue;
            cursor: pointer;
            
        }
        a{
            text-decoration: none;
            color: darkolivegreen;
        }
    }
    .nav-img-div{
        display: flex;
        justify-content: left;
        width: 70%;
        a{
            @include flexCenters();
            margin: 0 4% 0 0%;
        }
        .nav-img{
        
        width: 1vw;
        height:1vw;
        
        
        }
    }
    
}

.main-nav01{
    background-color: unset;
    
    
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0% 20%;
        li{
            @include flexCenters;
            flex-wrap: wrap;
            text-align: center;
            // border: antiquewhite solid;
            border-radius: 10%;
            padding: 2%;
            transition: 500ms;
            font-size: clamp(0.2rem,1.2vw,2vw);
            font-weight: 400;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            &:hover{
                background-color: rgba(106, 142, 35, 0.6);
                cursor: pointer;
                padding: 2%;
            }
            a{
                text-decoration: none;
                color: antiquewhite;
            }

        }
    }
}

.tube-div{
    background-color: antiquewhite;
    width: 150px;
    height: 50px;
    
    //border-bottom-right-radius: 50%;
    //border-top-right-radius: 50%;
    border: 5px solid greenyellow;
    border-radius: 100px 100px 100px 100px;
    //padding-top: 05%;
}