*{
    box-sizing: border-box;
}

.thingswrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
// @import "~bootstrap/scss/bootstrap";
@mixin flexCenters {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexSpaceAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
$fontClamp01:clamp(0.001rem, 1vw, 2vw);
$fontClamp02: clamp(0.001rem, 1vw, 2vw);
$gucciyellow: rgba(189, 147, 2, 1);
$guccigreen: rgba(10, 106, 86, 1);
$guccired: rgba(168, 43, 17, 1);
$guccired01: rgba(168, 43, 17, 0.2);

.home-title{
    margin-top: 0.4%;
    margin-left: 10.5%;
    a{
        img{
            width: 1rem;
            //height: 2.5vw;
            
            
            transition: 1500ms;
            
            &:hover {
                    
                    transform: rotate(-90deg);
                    //transform: translateX(50vw);
                    transition: 600ms;
                }
        }
        
    }
}

.small-nav{
    display: flex;
    align-items: center;  
    flex-wrap: wrap;
     background-color: rgba(141, 123, 90, 0.04);
     border-radius: 50px 50px;
    
     
     .righttoplinks{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        margin: auto;
        padding-bottom: 2%;
        
     }
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 01%;
        transition: 500ms;
        width: 33%;

        
        &:hover{
            text-decoration: none;
            background-color: lightblue;
            cursor: pointer;
            transition: 500ms;
            
        }
        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.733);
            font-size: 0.5rem;
            //width: 20px;
        }
    }
    .nav-img-div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 40%;
        background-color: transparent;
        margin: auto;
        padding-bottom: 2%;
        a{
            
            //margin: 0 4% 0 0%;
            width: 1.2rem;
        }
        .nav-img{
        
        width: 0.8rem;
        //height:1vw;
        
        
        }
    }
    
}

.main-nav01{
    background-color: unset;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    ul{
        display: flex;
        //flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0% 10% 0% 10%;
        li{
            font-size: 0.7em;
            // @include flexCenters;
            display: flex;
            width: 70px;
            margin: auto;
            
            
            // border: antiquewhite solid;
            
            
            
            
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                text-decoration: none;
                color: antiquewhite;
                padding: 10% 0% 10% 0%;
                border-radius: 40px 40px;
                transition: 600ms;
                background-color: black;
                text-align: center;
                &:hover {
                        background-color: rgba(245, 245, 245, 0.4);
                        color: black;
                        cursor: pointer;
                
                        
                    }
            }

        }
    }
}

@media screen and (max-width: 390px) {


    .home-title{
        margin-left: 10%;
    }
    
    .small-nav{
         
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100vw;
        margin: auto;
    }

    .righttoplinks{
        margin: auto;
        min-width: 50%;
        
        // border: solid white 2px;
        li{
            min-width: calc(100% / 2.3);
            
            

        }
     }
    

    .nav-img-div{
        display: flex;
        justify-content: left;
        align-items: center;
        max-width: 50%;
        margin: auto;
        .imgLink{
            display: flex;
            justify-content: center;
            min-width: calc(100% / 3.3);
        }
        
    }
    

}


