* {
  box-sizing: border-box;
}

.thingswrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.home-title {
  margin-top: 0.4%;
  margin-left: 10.5%;
  margin-bottom: 4%;
}
.home-title a img {
  width: 1.4rem;
  transition: 1500ms;
}
.home-title a img:hover {
  transform: rotate(-90deg);
  transition: 600ms;
}

.small-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(141, 123, 90, 0.04);
  width: 100%;
  height: 2.1rem;
  margin: auto;
}
.small-nav .righttoplinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-right: 10%;
  border-radius: 8px;
  padding: 0;
}
.small-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  transition: 500ms;
  width: 6.6666666667%;
  min-width: 4rem;
  height: 100%;
  border-radius: 8px;
}
.small-nav li:hover {
  text-decoration: none;
  background-color: lightblue;
  cursor: pointer;
  transition: 500ms;
}
.small-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.733);
  font-size: 0.8rem;
}
.small-nav .nav-img-div {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-right: auto;
  margin-left: 10%;
  height: 100%;
  padding-left: 1%;
}
.small-nav .nav-img-div a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: black;
  margin-right: 1.5rem;
}
.small-nav .nav-img-div .nav-img {
  width: 1.1rem;
}

.main-nav01 {
  background-color: unset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 4%;
}
.main-nav01 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  padding: 0% 0% 0% 0%;
}
.main-nav01 ul li {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-nav01 ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  text-decoration: none;
  color: antiquewhite;
  padding: 10% 0% 10% 0%;
  border-radius: 40px 40px;
  transition: 600ms;
  background-color: black;
  text-align: center;
}
.main-nav01 ul li a:hover {
  background-color: rgba(245, 245, 245, 0.4);
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 390px) {
  .home-title {
    margin-left: 10%;
  }
  .main-nav01 {
    margin-top: 20%;
  }
  .small-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin: auto;
    border: none;
  }
  .righttoplinks {
    min-width: 90%;
    margin: auto;
    padding: 0;
  }
  .righttoplinks li {
    min-width: 33.3333333333%;
  }
  .nav-img-div {
    display: flex;
    justify-content: flex-end;
    min-width: 100%;
    padding: 0% 4% 4% 0%;
  }
  .nav-img-div .imgLink {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 11.1111111111%;
  }
}/*# sourceMappingURL=header.css.map */