.st01 {
  font-size: 1.6rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 2%;
  border-bottom: solid;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.landing .paragraphs {
  max-width: 33%;
  font-size: 1.3rem;
  text-align: left;
  font-weight: bold;
  margin-right: auto;
}
.landing #bodyImgs {
  margin-top: 2%;
  width: 38vw;
}
.landing #bodyImgs p {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0.8%;
  font-weight: bold;
  text-align: center;
}
.landing #bodyImgs .menusGallery {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  border: solid;
  background-color: wheat;
  width: 100%;
}
.landing #bodyImgs .bodyImg {
  width: 24.3902439024%;
  margin: 0 0.2% 0.2% 0.2%;
  cursor: pointer;
}

#menuViewer {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.671);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-top: 4vh;
  overflow: scroll;
  z-index: 1;
}
#menuViewer #closeView {
  font-size: 0.6rem;
  font-weight: bolder;
  border: solid;
  max-height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menuViewer .infobar {
  font-size: 0.54rem;
  margin-top: 0%;
  margin-bottom: 0;
  text-align: center;
  width: 45%;
  overflow: scroll;
  max-height: 10vw;
}
#menuViewer .infobar p {
  margin-top: 0%;
  margin-bottom: 0;
  font-size: 0.5rem;
}
#menuViewer .infobar p a {
  text-decoration: none;
  color: green;
  border: solid 1px;
  border-radius: 50px 50px;
  padding-left: 1%;
  padding-right: 1%;
}
#menuViewer .infobar p a:hover {
  color: rgb(231, 196, 154);
  border: none;
  text-decoration: underline;
}
#menuViewer .infobar .popupInfo {
  margin-top: 0%;
  font-size: 0.52rem;
}

.viewerImg {
  width: 45vw;
  max-width: 800px;
  max-height: 78vh;
  margin: 0;
  padding: 0;
}

.signupDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2.6%;
  border: solid;
  width: 16vw;
  min-width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.signupDiv a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  font-size: 0.6rem;
  text-align: center;
  text-decoration: none;
  color: blanchedalmond;
  border: solid;
  transition: 500ms;
}
.signupDiv .signupLink {
  background-color: rgb(94, 94, 209);
}
.signupDiv .signupLink:hover {
  background-color: rgb(89, 169, 255);
  color: blanchedalmond;
}
.signupDiv .loginLink {
  background-color: rgb(0, 128, 0);
}
.signupDiv .loginLink:hover {
  background-color: rgb(0, 170, 100);
  color: blanchedalmond;
}

@media screen and (max-width: 390px) {
  #menuViewer {
    justify-content: center;
  }
  .paragraphs {
    margin: auto;
    max-width: 5555px;
    min-width: 60vw;
  }
  .landing {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #bodyImgs {
    color: white;
    min-width: 73vw;
  }
  .menusGallery {
    min-width: 70vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .bodyImg {
    min-width: 45.4545454545%;
  }
  .signupDiv {
    margin-top: 0.5%;
    min-width: 60%;
    margin: auto;
  }
  .viewerImg {
    min-width: 90vw;
    max-height: 80vh;
  }
}/*# sourceMappingURL=homepage.css.map */